*{
    margin: 0;
    padding: 0;
}

body{
    /* overflow-y: hidden; Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.first{
    
    /* width: 100vw; */
    /* height: 50vh; */
    height: fit-content;
    padding-bottom: 10px;
    /* height: auto; */
    background-color:rgb(228, 228,228);
}
.second{
    width: 100vw;
    /* height: 50vh; */
    height: 400px;
    background-color: rgb(222,165,197);
}
#text , #email , #textarea{
    border-radius: 10px;
    width: 35vw;
    padding: 10px;
    margin-left: 10vw;
    margin-top: 4vh;
}



#submit{
    margin-left: 10vw;
    margin-top: 4vh;
}
.thrid{
    border-radius: 10px;
    background-color: rgb(255,255,255);
    width: 30vw;
    height: auto;
    /* display: inline-block; */
    position: relative;
    float: right;
    bottom: 20vh;
    margin-right:5vw;
    margin-left:5vw ;
    padding: 22px;
   
    text-align: center;
}
.fourth{
    
    height: fit-content;
    color: aliceblue;
}
#P1{
     margin-left: 10vw;
    padding-top: 4vh;
    font-size:xx-large;
}
#P2{
     margin-left: 10vw;
    padding-top: 4vh;
    font-size: x-large;
}
