body{
    background-image: url(https://images.pexels.com/photos/1379636/pexels-photo-1379636.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
   background-repeat: no-repeat;
   background-size: cover;
   /* height: 100vh; */
   width: fit-content;
    background-attachment: fixed;
}

/* for images */

.Forimages , .images {
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-items: center; */
    
}
img{
    padding: 10px;
    
}
.Forimages  a{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size:large;
    margin-left:10px ;
    color: aliceblue;
}

/* transform: rotate(90deg); images */
/* #image43{
    transform: rotate(270deg);
} */